@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<a href="/Teacher/List/">Back to Teacher List</a>

<div>
    <h3>Employee Information:</h3>
    <p>Number: @Model.EmployeeNumber</p>
    <p>Salary: @Model.Salary</p>
    <p>HireDate: @Model.HireDate</p>
</div>